@model EquidCMS.Models.Tblresource

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<style type="text/css">
    .control-label {
        font-weight: 800;
    }

    .image-preview {
        max-width: 100%; /* Make sure the image fits inside the container */
        max-height: 300px; /* Limit the height */
       /*  display: none; /* Hide by default */ */
    }
</style>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="RS" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3">
                            <h4 class="Headingcolorbg">Resources</h4>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="alert alert-danger" style="font-size:14px" role="alert">
                                <div class="col-sm-12">
                                    NOTE: Fields marked with (*) are compulsory fields
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3">
                            <a asp-action="Index" class="btn btn-primary backtodetailbutton float-end">Back to List</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                           
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Title <span style="color:red">*</span></label>
                                        <input asp-for="Rshead" class="form-control" />
                                        <span asp-validation-for="Rshead" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Topic" class="control-label">Topic </label>
                                        <select asp-for="Topic" class="form-control" multiple asp-items="ViewBag.ThemeId"></select>

                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 document">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Document</label>
                                        <!-- File input for image -->
                                        <input type="file" id="FileToUpload2" name="FileToUpload2" class="form-control" />

                                        <span asp-validation-for="Rsdocument" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="row mt-2 blog-fields" style="display:none;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Author Name</label>
                                        <input asp-for="Author" class="form-control" />
                                        <span asp-validation-for="Author" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 blog-fields" style="display:none;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Author Designation</label>
                                        <input asp-for="Designation" class="form-control" />
                                        <span asp-validation-for="Designation" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 blog-fields" style="display:none;">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Short Bio</label>
                                        <textarea asp-for="Shortbio" class="form-control"></textarea>
                                        <span asp-validation-for="Shortbio" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">

                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group" style="margin-top: 12px;">
                                        <label class="control-label">Resource Type <span style="color:red">*</span></label>
                                        <select asp-for="Rsdocumenttypeid" class="form-select" asp-items="ViewBag.Rsdocumenttypeid"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Thumbnail</label>
                                        <!-- File input for image -->
                                        <input type="file" id="FileToUpload1" name="FileToUpload1" class="form-control" />

                                        <span asp-validation-for="Rsimage" class="text-danger"></span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Category</label>
                                        <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <textarea asp-for="Rsshortdescription" class="form-control"></textarea>
                                        <span asp-validation-for="Rsshortdescription" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Free Access</label>
                                        <div class="form-check form-switch">
                                            <!-- Using a checkbox to toggle 'IsPublic' field -->
                                            <input asp-for="Ispublic" type="checkbox" class="form-check-input" id="Ispublic" />
                                            <label class="form-check-label" for="Ispublic">Yes</label>
                                        </div>
                                        <span asp-validation-for="Ispublic" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Is Link</label>
                                        <div class="form-check form-switch">
                                            <!-- Using a checkbox to toggle 'IsPublic' field -->
                                            <input type="checkbox" class="form-check-input" id="IsLink" />
                                            <label class="form-check-label" for="IsLink">Yes</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Is Published</label>
                                        <div class="form-check form-switch">
                                            <!-- Using a checkbox to toggle 'IsPublic' field -->
                                            <input asp-for="Isverified" type="checkbox" class="form-check-input"  />
                                            <label class="form-check-label" for="Isverified">Yes</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">Resource Video Link</label>
                                        <!-- Image preview container -->
                                        <input asp-for="RsvideoLink" class="form-control" id="RsvideoLink" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="col-md-12">
                                <div class="form-group">
                                   @*  <label class="control-label">Image Preview</label> *@
                                    <!-- Image preview container -->
                                    <img id="imagePreview" class="image-preview" src="~/assets/img/ImagePreview.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="form-group" style="float: right">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // JavaScript to show image preview before uploading
        document.getElementById("FileToUpload1").addEventListener("change", function (event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            debugger;
            reader.onload = function (e) {
                const imagePreview = document.getElementById("imagePreview");
                imagePreview.src = e.target.result; // Set the src of the image
                imagePreview.style.display = "block"; // Make the image visible
            };

            if (file) {
                reader.readAsDataURL(file); // Read the file and trigger the onload event
            }
        });     
    </script>
    <script>
        // Get the checkbox and input element
        const isLinkCheckbox = document.getElementById('IsLink');
        const videoLinkInput = document.getElementById('RsvideoLink');
        const fileInput = document.getElementById('FileToUpload2');

        // Set initial state of the input based on the checkbox
        function toggleInputState() {
            if (isLinkCheckbox.checked) {
                videoLinkInput.disabled = false; // enable the input if checkbox is checked
                fileInput.disabled = true; // Disable the input if checkbox is checked
            } else {
                videoLinkInput.disabled = true; // Enable the input if checkbox is unchecked
                fileInput.disabled = false; // Disable the input if checkbox is checked
            }
        }

        // Call the function on page load to set initial state
        toggleInputState();

        // Add event listener to checkbox to toggle input state when it's clicked
        isLinkCheckbox.addEventListener('change', toggleInputState);

            // Function to toggle 'IsLink' checkbox if Resource Type is 6 (BLog)
        function checkResourceTypeAndSetIsLink() {
            const resourceTypeSelect = document.querySelector('[name="Rsdocumenttypeid"]');
            const isLinkCheckbox = document.getElementById('IsLink');
            const blogFields = document.querySelectorAll('.blog-fields');
            const docs = document.querySelectorAll('.document');

            if (resourceTypeSelect.value === "6") { // Assuming 6 = Blog
                blogFields.forEach(field => field.style.display = 'block');
                docs.forEach(field => field.style.display = 'none');
                isLinkCheckbox.checked = true;
                toggleInputState();
            } else {
                docs.forEach(field => field.style.display = 'block'); 
                isLinkCheckbox.checked = false;
                blogFields.forEach(field => field.style.display = 'none');
            }
        }

    // Listen for change event on the Resource Type dropdown
    document.addEventListener("DOMContentLoaded", function () {
        checkResourceTypeAndSetIsLink();
        const resourceTypeSelect = document.querySelector('[name="Rsdocumenttypeid"]');
        resourceTypeSelect.addEventListener('change', checkResourceTypeAndSetIsLink);
    });
    </script>
}
