
@{
    ViewData["Title"] = "ComingSoon";
    Layout = "~/Views/Shared/_LayoutWebSNW.cshtml";
}
<section class="testimonial-section-4 cream_bg pt-80 pb-80">
<div class="middle">
    <h1>COMING SOON</h1>
    <hr>
   
</div>
</section>
